<?xml version="1.0" encoding="utf-8"?>
<DBConn>
    <DBConnRow>
        <Env>DEV</Env>
        <String>Provider=SQLOLEDB.1;Password=francesco;Persist Security Info=True;User ID=sa;Initial Catalog=BTWEB;Data Source=LOCALHOST;Connection Timeout=1800</String>
    </DBConnRow>
    <DBConnRow>
        <Env>PROD</Env>
        <String>Provider=SQLOLEDB.1;Password=francesco;Persist Security Info=True;User ID=sa;Initial Catalog=BTWEB;Data Source=LOCALHOST;Connection Timeout=1800</String>
    </DBConnRow>
    <DBConnRow>
        <Env>VERSION</Env>
        <String>Italian</String>
    </DBConnRow>
</DBConn>